
<h1><%= image_tag 'intervw-qs-49px.png' %></h1>
<section>

	<ul>      
      <section class="interview-questions">
       
        <a href="/interviews/new" class="pull-right">New Interview Question</a> 
        <nav class="interview-question-type">
          <ul>
            <li><a href="" class="active">Manager</a></li>
            <li><a href="">Individual Contributor</a>

    
            </ul>
        </nav>
        
        <ul class="interview-topics">
        	<% @interviews.each do |interview| %>
          <li>
          	<a href="/interviews/<%= interview.id %>/edit"><%= interview.question %></a>
          </li>
        	<% end %>  
        </ul>

      </section>
