<h2>Interview Questions</h2>
<h4><%= @interview.question %></h4>
<p><%= @interview.answer %></p>
<a href="/interviews/<%= @interview.id %>/edit">Edit</a>
<a href="/interviews">Interview Questions Index</a>