<h1><%= image_tag 'kudos-49px.png' %></h1>
<section class="achievement-list">
    <a href="/kudos/new"> <input type="button" name="fileit" value="Add new" class="button"></button></a>    
    <ul>
        <% @kudos.each do |kudo| %>
          <li>

            <h2>
                <a href="/kudos/<%= kudo.id %>"><%= kudo.content %>     </a>
            </h2>
          </li>
        <% end  %> 
    </ul>
</section>