<h1><%= image_tag 'kudos-49px.png' %></h1>
<h2>New Kudo</h2>
<section class="create-achievements">
<%= simple_form_for @kudo do |f| %>
    <%= f.input :content, label: 'Kudo Text' %>
    <p><strong>Kudo Author</strong> Albert Lee</p>
    <%= f.submit class: 'button' %>
<% end %>
<p><a href="/kudos">Return to Kudos</a></p>
</section>