<h1><a href="/kudos/"><%= image_tag 'kudos-49px.png' %></a></h1>

<h3>Kudo #<%= @kudo.id %></h3>
<h6><a href="/kudos/<%= @kudo.id %>/edit">Edit</a>  |  
<a href="/kudos/">Back</a></h6>
<br>
<p> <strong>Kudo text:</strong><br> <%= @kudo.content %></p>
<br>
<p> <strong>Kudo Author:</strong><br> Sandra Huang</p>