<h1><%= image_tag 'goals-49px.png' %></h1>
      <section class="achievement-list">
      <a href="/goals/new"> <input type="button" name="fileit" value="Add new" class="button"></button></a>    
        <ul>
        	<% @goals.each do |goal| %>
	          <li>

	            <h2><a href="/goals/<%= goal.id %>"><%= goal.title %> 	</a>
	            	<time datetime=""> <small class="pull-right"><%= goal.target_date %></small></time>
	            </h2>
	          </li>
	        <% end  %> 
        </ul>
      </section>

