<h1><%= image_tag 'achieve-49px.png' %></h1>
 
  <section class="achievement-list">
  	<a href="/achievements/new">Add Achievement</a>
	<ul>
	<!-- show all  -->
	<% @achievements.each do |achievement| %>
	  	<li>
	    	<h3>Software Engineer - Google</h3>
	    	<h2><a href ="/achievements/<%= achievement.id %>"><%= achievement.title %></a></h2>
            <a href="" class="see-all">See all for this position</a>

	    </li>
	<% end %> 
  </ul>


</section>


