			<h1>Create New Achievement</h1>
      
      <section class="create-achievements">

        <form>
          <label for="achievement-title">Achievement title</label>
          <input type="text" name="title" />
          
          <label for="job-title">Job Title</label>
          <input type="text" name="job-title" />
          
          <label for="company">Company</label>
          <input type="text" name="company" />
          
          <label for="achievement-date">Achievement Date</label>
          <input type="text" name="achievement-date" class="achievement-date" />
          
          <label for="interview-question">Associated interview question? <a href="">Go to Interview Question List</a></label>
          <input type="text" name="interview-question" />
          
          <label for="description">Description</label>
          <textarea name="description"></textarea>
          
          <label for="participants">Who else participated?</label>
          <textarea name="participants"></textarea>
          
          <p class="add-teammate"><a href="">Add a Teammate</a></p>

          <p><a href="/achievements">Return to Achievements</a></p>
          
          <input type="button" name="fileit" value="File it" class="button"></button>
        </form>
</section>
<!-- simple form sucks!  -->


