<header>
	<h2>${Username}'s CareerNotes</h2>
	<nav>
		<ul>
    	<li>Main Page</li>
 			<li>Personal Settings</li>
    </ul>
	</nav>
</header>

<h1>Achievements</h1>
<section>
	<ul>
  	<li>
    	${Achievements}
      <time datetime="">${date}</time>
    </li>
  	<li>
    	${Achievements}
      <time datetime="">${date}</time>
    </li>
  	<li>
    	${Achievements}
      <time datetime="">${date}</time>
    </li>
  	<li>
    	${Achievements}
      <time datetime="">${date}</time>
    </li>
  </ul>
</section>
