<h2><%= image_tag 'achieve-49px.png' %></h2>
<h3><%= @achievement.title %></h3>
<h6><a href="/achievements/<%= @achievement.id %>/edit">Edit</a>  |  
<a href="/achievements/">Back</a></h6>



<p><%= @achievement.description %></p>

<p><strong>Teammates</strong></p>
Sandra Huang, Albert Madison, Sam Thomas
